*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body{
background-color: aliceblue;
}
table {
   border-collapse: collapse;
   width: 100%;
}
th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
}

.containerFormulario{
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: space-around;
   margin: 10px;
}
.containerFormulario h1 {
   text-align: center;
}
.btngrafico{
   border: none;
   font-size: 1rem;
   border-radius: 15px;
   padding: 5px;
   background-color: rgb(0, 255, 128);
}
.btngrafico:hover{
   background-color: rgb(9, 255, 0);
   color: #fff;
}
.categoria , .valor{
   margin: 10px;
}

.containerInput{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
label {
   width: 80px;
   display: inline-block;
}

.btnVoltar img:hover{
   transform: scale(1.2);
   margin-left: 15px;

 }
 @keyframes slide-in {
   0% {
     transform: translateX(-100%);
   }
   100% {
     transform: translateX(0);
   }
 }
 .btnVoltar{
   animation: slide-in 1s;
 }